/*
 * Add styles here. To learn more about styling FXML with css visit 
 * https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html
 */

.text-area {
    -fx-text-fill: #e8f4db;    
}

.text-area .content {
    -fx-padding: 10;      
}

.text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}

.list-view .list-cell {
    -fx-padding: 5;
    -fx-background-color: transparent;
}

.list-view .list-cell:selected { 
    -fx-background-color: rgba(0,0,100,0.5);
}

.list-view .list-cell:selected * { 
    -fx-text-fill: black;
}

/* HIDE Tab pane header  
.tab-pane {
    -fx-tab-min-height: 0; 
    -fx-tab-max-height: 0; 
} 
.tab-pane .tab-header-area {
    visibility: hidden ;
}
*/

.tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab-label { 
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
}

.tab-pane .tab {    
    -fx-background-color: rgba(90,0,0,0.3);
    -fx-effect: dropshadow(three-pass-box, #000, 10.0, 0.5, 0, 5.0); 
}

.tab-pane .tab:selected {        
    -fx-effect: dropshadow(three-pass-box, #999, 10.0, 0.5, 0, 5.0); 
}

.tab-pane .tab:hover {
    -fx-background-color: rgba(0,0,0,0.4);
}

.tab-pane .tab-content-area {
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-background-color: rgba(0,0,0,0.25);
}

.tab-pane {
    -fx-open-tab-animation: grow;
} 

.highlight-button {
    -fx-cursor: hand;
    -fx-background-color: rgba(10,10,80,0.2);
}
.highlight-button:hover {
    -fx-background-color: rgba(10,10,80,0.35);
}

.avatar-button {
    -fx-background-color: rgba(0,0,0,0.1);
}
.avatar-button:hover {
    -fx-background-color: rgba(0,0,0,0.25);
}

.videocall-button{
    -fx-cursor: hand;
    -fx-background-color: rgba(90,90,100,0.4);
}
.videocall-button:hover {
    -fx-background-color: rgba(90,90,100,0.8);
}

/******************************************************************************/
/*                           MESSAGE BOX                                      */
/******************************************************************************/

.message-box {
    -fx-background-color: transparent;
}

#message-list .list-cell:selected { 
    -fx-background-color: transparent;
} 
/*
#message-receiver {
    -fx-padding: 3px 50px 3px 6px;    
}
#message-sender { 
      -fx-padding: 3px 6px 3px 50px;    
}
*/
#message-receiver .inner-grid {
    -fx-background-radius: 10;
    -fx-background-color:  rgba(240,255,240,0.7);     
}
#message-sender .inner-grid {
    -fx-background-radius: 10;
    -fx-background-color:  rgba(240,240,255,0.7);       
}
#message-receiver .button {
    -fx-min-width: 0;
    -fx-visible: false;
}
#message-receiver .image-view {
    -fx-fit-width: 0;
}

/******************************************************************************/
/*                           PROFILE PANE                                     */
/******************************************************************************/

.profile-button {
    -fx-background-color: rgba(30,30,30,0.1);    
}

.profile-button:hover {
    -fx-background-color: rgba(30,30,30,0.5);
} 

#profile-pane #user-box {
    -fx-background-color: rgba(10,10,50,0.5); 
    -fx-background-radius: 10;
}

#profile-pane #user-name, 
#profile-pane #user-status, 
#profile-pane #my-name, 
#profile-pane #my-status {
    -fx-background-color: transparent;
    -fx-text-fill: #dfd;
}

#profile-pane #user-about, 
#profile-pane #my-about {
    -fx-background-color: rgba(10,10,10,0.3);
}

#profile-pane #my-name:focused, 
#profile-pane #my-status:focused,
#profile-pane #my-about:focused {
    -fx-background-color: rgba(255,255,255,0.25);  
    -fx-text-fill: #fff;
}